version: "3.4"
include:
  - path:
    - pacsor/compose.pacsor.yaml

    # Legacy HL7 service
    - pacsor/compose.hl7.yaml

    # Multi-scu
    #- pacsor/compose.multi-scu.pacsor.yaml

    # Multi-core
    #- pacsor/compose.multicore.yaml
            
    # uncomment for debug
    #- override/compose.debug.pacsor.yaml
    